package qst

import (
	"net/http"

	"github.com/broothie/option"
)

{{- range $capitalizedMethod := . -}}
{{- $method := $capitalizedMethod | lower | title }}

// New{{ $method }} builds a new *http.Request with method {{ $capitalizedMethod }}.
func New{{ $method }}(url string, options ...option.Option[*http.Request]) (*http.Request, error) {
	return New(http.Method{{ $method }}, url, options...)
}

// {{ $method }} makes a {{ $capitalizedMethod }} request and returns the *http.Response.
func {{ $method }}(url string, options ...option.Option[*http.Request]) (*http.Response, error) {
	return Do(http.Method{{ $method }}, url, options...)
}

{{- end }}
